aiohttp==3.7.4.post0
astroid==2.5.1
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.5
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
cryptography==3.4.7
future==0.18.2
idna==2.10
isort==5.7.0
jeepney==0.6.0
lazy-object-proxy==1.5.2
lxml==4.6.2
mccabe==0.6.1
multidict==5.1.0
pefile==2017.9.3
pycodestyle==2.7.0
pycparser==2.20
pylint==2.7.2
PySocks==1.7.1
requests==2.25.1
requests-futures==1.0.0
SecretStorage==3.3.0
six==1.16.0
soupsieve==2.2
spark-parser==1.8.9
stem==1.8.0
toml==0.10.2
torrequest==0.1.0
typing-extensions==3.10.0.0
uncompyle6==3.7.4
unpy2exe==0.3
urllib3==1.26.4
wrapt==1.12.1
xdis==5.0.10
yarl==1.6.3
